
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

.font-jolly-lodger {
  font-family: 'Jolly Lodger', cursive;
}
:root {
  --background-color: #ffffff; /* Light mode background color */
  --text-color: #000000; /* Light mode text color */
}

[data-theme='dark'] {
  --background-color: #000000; /* Dark mode background color */
  --text-color: #ffffff; /* Dark mode text color */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
